data
node_modules
public/storage
public/hot
public/uploads
public/storage
public/css
public/images
public/fonts
public/js
public/images
storage
vendor
npm-debug.log
.DS_Store
.env
.env.testing
.php_cs.cache
yarn-error.log
